@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}



    <div>
        <form method="post" action="">
        <p>Логін</p>
    <input type="text" name="username"/>
        <p>Пароль</p>
    <input type="password" name="password"/>  
   <p><input type="submit" value="Увійти"  /> </p>  
            </form>
    </div>

