<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Юрій Плоский</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Юрій Плоский</div>


    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="Personal">Юрій</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="Personal">Головна</a>
                    </li>
                    <li>
                        <a href="About">Про себе</a>
                    </li>
                    <li>
                        <a href="Contact">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/Content/img/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/Content/img/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/Content/img/slide-3.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Ласкаво прошу</small>
                    </h2>
                    <h1 class="brand-name">Юрій Плоский</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            <strong>Якийсь прикольний статус</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>GDG DevFest пройшов, але це ще не все!</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/Content/img/dev.jpg" alt="" height="400" width="400">
                    <hr class="visible-xs">
                    <p>І хоч до Львова всеукраїнський GDG DevFest “переїхав” зі столиці, вдалось не лише зібрати під одним дахом вдвічі більше учасників, ніж торік, а й вивести DevFest на міжнародний рівень. Свої доповіді на фестивалі презентували провідні експерти з України, Польщі, Франції, Туреччини та Угорщини.</p>
                    <p>Дводенний DevFest був поділений на два етапи. 24 жовтня повністю присвятили практиці: хакатон, що відбувся в StartUp кафе Come In, зібрав 12 команд, які мали перемалювати існуючі додатки під Material Design; одночасно у перший день фестивалю, в антикафе CoMMuna, відбулись воркшопи по Android Wear, оптимізації швидкодії веб додатків та Polymer.</p>
                    <p>Більше чотирьох сотень учасників 25 жовтня відвідали конференцію, в рамках якої 30 доповідачів розповіли про: нові фічі Android L, Material Design, Android Wear, хардкорний NDK, Polymer, Dart, Chrome OS та розробку плагінів під Chrome. Експерти підготували 32 доповіді, які розділили за потоками Android, Web та Community. Виступи тривали паралельно у трьох залах кінотеатру, а у процесі слухачі з’їли більше 450 порцій безплатного попкорну =).</p>
                </div>
            </div>
        </div>

       <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Парк культури та відпочинку ім. Б. Хмельницького</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/Content/img/park.jpg" alt="" height="400" width="400">
                    <hr class="visible-xs">
                    <p>А ось і фото з Осіннього пікніку, що сьогодні організував для вас Парк культури. Було справді дуже весело! Свято відвідало більше 3000 щасливих львів’ян!<p> Дякую, що разом з нами закрили теплий сезон у парку! Ще раз велике дякую нашим партнерам: Генеральному партнеру пікніку – оптовому ринку «Шувар», компаніям «МТС», «ШипШина», та «Квас Тарас», Форуму видавців, Видавництву Старого Лева, солодким партнерам - компанії «Біскотті» та «Ярич», дитячим центрам «SkyPark» та «Веселий вулик», творчій майстерні «Сверлик» та майстерні декору «Авес». П.С. Скоро на вас чекає відкриття зимового сезону у парку:)</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; ЛНУ ім. І. Франка 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/Content/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
    <div>
        @RenderBody()
    </div>
</body>

</html>
