@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Логін</p>
    <input type="text" />
        <p>Пароль</p>
    <input type="text" />  
   <p><input type="submit" value="Увійти"  /> </p>  
    </div>
</body>
</html>
