@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

    <div>
        <form method="post" action="">
        <p>Логін</p>
    <input type="text" name="username"/>
        <p>Пароль</p>
    <input type="password" name="password"/> 
            <p>E-mail</p>
    <input type="text" name="email"/> 
            <p>Роль</p>
    <p><input type="radio" name="role" value="graduate"/> </p>
            <p><input type="radio" name="role" value="lecturer"/> </p>
   <p><input type="submit" value="Зареєструватись"  /> </p>  
            </form>
    </div>
